---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getPostSlug, sortBlogPosts } from "../utils/blog";

const posts = sortBlogPosts(
  (await getCollection("blog")).filter((post) => !post.data.draft),
);
const featuredPost = posts.find((post) => getPostSlug(post) === "fly-emirates-fly-better") ?? posts[0];
const featuredPostSlug = featuredPost ? getPostSlug(featuredPost) : "/blog/";
---

<BaseLayout fullBleed>
  <section class="home-feature">
    <a class="home-feature-card" href={featuredPost ? `/blog/${featuredPostSlug}/` : "/blog/"}>
      <div class="home-feature-image-wrap">
        <img
          src="/images/home/front-page-fly-emirates.jpg"
          alt="A plane trail rising across a blue sky."
          class="home-feature-image"
        />
      </div>

      <div class="home-feature-copy">
        <span class="home-feature-kicker">Blog</span>
        <h1 class="home-feature-title">
          Fly&nbsp;Emirates,<br />
          Fly Better
        </h1>
      </div>
    </a>
  </section>
</BaseLayout>
